

* { box-sizing: border-box; }


html {
    color-scheme: dark;
}

body {
    margin: 0;
    padding: 20px;
    font-family: Verdana, Tahoma, sans-serif;
    background: #232423;
    color: #e8eefc;
}

.site-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 10px;
}

.site-header h1 {
    margin:0;
    margin-right: auto;
}

input[type="date"] {
    background: #232423;
    color: #e8eefc;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 14px;
}

.site-footer {
    color: #b1b1b1;
}