.game-card {
  cursor: pointer;

  margin: 10px;
  padding: 12px;
  border-radius: 5px;
  border: 2px solid #ffffff84;

  display: flex;
  align-items: center;
  gap: 5px;              /* spacing between the 3 sections */

  font-size: 20px;
  font-weight: bolder;

  background-image: linear-gradient(
    125deg,
    var(--away) 0%,
    var(--away) 10%,
    #2e302e 25%,
    #2e302e 75%,
    var(--home) 90%,
    var(--home) 100%
  );
}

/* Left and right groups */
.game-card__side {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 35%;           /* SAME width on both sides */
}

/* Push right side contents to the right */
.game-card__side--home {
  justify-content: flex-end;
}

.game-card__center {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
}

/* Make logo sizes consistent */
.game-card__logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
  flex: 0 0 64px;
}

.game-card__status.is-live { color: #ff0000; }
.game-card__status.is-final { color: #e8eefcab; }
.game-card__status.is-scheduled { color: #e8eefc; }
.game-card__status.is-neutral { color: #e8eefc; }
