
.modal-overlay {
  position:fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 9999;
}

.modal {
  background: #2e302e;
  width: min(900px, 100%);
  height: min(800px, 100%);
  border: 2px solid #ffffff84;
  border-radius: 16px;
  padding: 10px;
  padding-top: 0px;
  position: relative;
}

.modalHeader {
  display: flex;
  align-items: center;
  color: #ffffff84;
  font-size: 12px;
}

.modal-close {
  background:transparent;
  border: none;
  color: #e8eefc;
  font-size: 18px;
  cursor: pointer;
}

/*
.hidden {
  display: none;
}
*/

.gameId {
  margin-right: auto;
}

.modalBody {
  display: flex;
  flex-direction: column;
  height:80vh;
}

.topSection {
  gap:9.5%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  overflow-y: auto;
}

.gameDisplayContainer {
  width:27%;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  padding-bottom: 10px;
}

#modalAwayTeam {
  background-image: linear-gradient(125deg, red 0%,red 25%,#2e302e 50%);
}

#modalHomeTeam {
  background-image: linear-gradient(235deg, #FF5910 0%,#FF5910 25%,#2e302e 50%);
}

.gameDisplayContainer img {
  width: 80%;
}

.gameDisplayInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameDisplayInformation > * {
  margin: 5px;
}

.modalTeamStats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalTeamStats > * {
  margin: 5px;
}

.bottom-section {
  height:30%;
  transition: height 0.3s ease;
  display:flex;
  flex-direction: column;
}

.bottom-header {
  display: flex;
  justify-content: center;
}

.bottom-header button {
  background: #2e302e;
  border: none;
  cursor: pointer;
}

.bottom-section.expanded {
  height: 50%;
}

.bottom-body {
  border-radius: 7px;
  background: #282928;
  flex: 1;
  display: flex;
}

.betting,
.ai {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}