
.modal-overlay {
  position:fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 9999;
}

.modal {
  background: #2e302e;
  width: min(900px, 100%);
  height: min(600px, 100%);
  border: 2px solid #ffffff84;
  border-radius: 16px;
  padding: 10px;
  padding-top: 0px;
  position: relative;

  display: flex;
  flex-direction: column;
}

.modal__header {
  display: flex;
  align-items: center;
  color: #ffffff84;
  font-size: 12px;

  flex: 0 0 auto;
}

.modal__game-id {
  margin-right: auto;
}

.modal__close {
  background:transparent;
  border: none;
  color: #e8eefc;
  font-size: 18px;
  cursor: pointer;
}


.is-hidden {
  display: none;
}


.modal__body {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
 }

.modal__top {
  gap:10px;
  gap:9.5%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.team-card--away {
  background-image: linear-gradient(125deg, red 0%,red 25%,#2e302e 50%);
}

.team-card--home {
  background-image: linear-gradient(235deg, #FF5910 0%,#FF5910 25%,#2e302e 50%);
}

.team-card {
  flex: 0 0 auto;

  width:27%;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  padding-bottom: 10px;
}

.team-card img {
  width: 80%;
}

.matchup-card {
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchup-card > * {
  margin: 5px;
}

.team-card__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.team-card__stats > * {
  margin: 5px;
}

.modal__bottom {
  flex: 1;
  min-height: 0;

  overflow: hidden;
  gap:12px;

  display:flex;
}

.modal__betting, .modal__prediction{
  flex: 1;
  min-height: 0;
  margin: 60px 20px 60px 20px;
}

.market-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: .25fr 1fr 1fr;

  gap:4px;

  height:100%;
  width:100%;
  
  align-items: center;
}

.market-grid > *{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.market__head {
  color: rgba(255, 255, 255, 0.642);
  font-size: 12px;
}

.market__card {
  border: solid 2px rgb(110, 110, 110);
  border-radius: 10px;
  background-color: #3a3b3a;

  height:100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.market__card > *{
  margin: 0;
}

.market__card h3 {
  color: rgb(65, 99, 249);
  font-size: 15px;
}

.market__card p {
  color: rgba(255, 255, 255, 0.642);
  font-size: 12px;
}

.market__card__name {
  display:flex;
  align-items: center;
  justify-content: left;

  font-weight: bold;
}

.prediction_container {
  display:flex;
  align-items: center;
  justify-content: center;
}

.predict-btn {
  height: 150px;
  width: 150px;
  
  background-color: #2e302e;

  font-size: 20px;
  font-weight: bold;

  border: 10px solid rgb(110, 110, 110);
  border-radius: 50%;

  cursor: pointer;
}